main{
    min-height : 80vh;
}
h2{
    padding: 1rem;
}

.nav-item .dropdown-item:hover {
  background: #413f3e;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.add-button{
 
  position: fixed;
    bottom: 40px;
    right: 40px; 
}

.heart:hover{
 cursor: pointer;
 color: rgb(202, 21, 21);
}

.card-img-top {
  object-fit: contain;
  }